body {
    font-family:Ubuntu;
    font-size:30px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}

.icos{
    vertical-align:bottom; 
}

table{
    width:100%;
    text-align:center;
}

.custom-select {
    width:stretch;
    font-family:Ubuntu;
    font-size:32px;
}

.custom-select select {
  display: none;
}

.currency-input {
    width: 60%;
    font-size: 32px;
}

.custom-select {
    width: 80%;
    overflow: auto;
}

.custom-select option {
    overflow: auto;
}
